/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    padding: 10px;
    background: linear-gradient(#bde0fe, #a2d2ff);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

h1 {
    background: #ffafcc;
    padding: 5px 15px;
    border-radius: 5px;
}

.activity{
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    padding: 0 25px 25px 25px;
    background: linear-gradient(#ffafcc, #ffc9dd);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#nd {
    background: #bde0fe;
    padding: 10px 15px;
    border-radius: 5px;
}

#flag, #veiw, #map {
    width: 130px;
    height: 100px;
    border-radius: 15px;
}



.imgs{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.shrink img {
transition: .5s ease;
}

.shrink img:hover{
-webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
transition: .5s ease;
}

#rd{
    margin-top: 50px;
}

.card{
    display: flex;
    margin: 0 25px 30px 25px;
    width: 400px;
    padding: 10px;
    background: linear-gradient(#bbd0ff, #c8b6ff);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 4px solid #0d1b2a
}

#flx{
    display: block;
    margin-left: 25px;
    margin-right: 0;
}

#pfp {
    width: 150px;
    height: 200px;
    border-radius: 15px;
}


.shadow img {
transition: .5s ease;
}

.shadow img:hover{
box-shadow:
1px 1px #8f8d8d,
2px 2px #8f8d8d,
3px 3px #8f8d8d,
4px 4px #8f8d8d,
5px 5px #8f8d8d,
6px 6px #8f8d8d;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}

.grow { 
transition: all .1s ease-in-out; 
}

.grow:hover { 
transform: scale(1.2); 
}

a {
    color: #0d1b2a;
    background-image: linear-gradient(
    to right,
    #fb6f92,
    #fb6f92 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}


